.table {
  /* border: 1px solid grey; */
  margin: 0 auto;
}

.th {
  background-color: aqua;
  padding: 5px 60px;
  font-size: 23px;
  color: whitesmoke;
}

.tr:not(:nth-child(2n)) {
  background-color: whitesmoke;
}

.tr:nth-child(2n) {
  background-color: white;
}

.td {
  text-align: center;
  font-size: 18px;
  color: grey;
  margin-bottom: 10px;
}
